<br >
<div class="button-container">
  <button class="bttn-simple bttn-lg bttn-success"><a href="/support">Get Help</a></button>
  <button class="bttn-simple bttn-lg bttn-royal"><a href="/volunteer">Volunteer</a></button>
</div>