<br >
<div class="button-container">
  <button class="bttn-simple bttn-lg bttn-royal"><a href="/volunteer">Offer Support</a></button>
  <button class="bttn-simple bttn-lg bttn-success"><a href="/support">Get Support</a></button>
</div>