<footer>
<p>
  This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
</p>
<p>
  Developed on <a href="https://github.com/3dprintscanner/coronacorps">Github</a> Hosted by <a href="https://www.netlify.com/">Netlify<a/>
</p>
</footer>
