<footer>
<p>
  This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
</p>
<p>
  Hosted on  <a href="https://github.com/3dprintscanner/coronacorps">Github</a>
</p>
</footer>
