<header>
  <ul class="nav">
    <li>
      <a href="/">Home<small>Our Info</small></a>
    </li>
    <li>
      <a href="/about">About<small>About Us</small></a>
    </li>
    <li>
      <a href="/resources">Resources<small>Useful resources</small></a>
    </li>
  </ul>
  <h1>{{ title }}</h1>
  {%- if subtitle %}<p class="subtitle">{{ subtitle | safe }}</p>{% endif %}
</header>
