<# GENERAL #>
{% set ward = "Holloway" %}
{% set ward_index_link = "/wards" %}

<# RESOURCE PAGE #>
{% set support_groups_link = "https://islington.coronacorps.com/resources/" %}
{% set guidance_link = "https://islington.coronacorps.com/resources/" %}

<# SUPPORT PAGE #>
{% set support_form_type = "iframe" %}
{% set support_form_link = "https://docs.google.com/forms/d/e/1FAIpQLSdp0V6t60Q_QHYwTEpcacIDt2U4ZI-L29YhKb_0URR8_oawhQ/viewform?embedded=true" %}

{% set volunteer_form_type = "site" %}
{% set volunteer_form_link = "" %}

<# CONTACT PAGE #>
{% set phone = "07404 884 264" %}
{% set email = "hollowaymutualaid@gmail.com" %}
{% set whatsapp = "https://chat.whatsapp.com/Ge12JOC79wo8u6lKcWnCls" %}